@import 'colors';

.App {
	display:flex;
	flex-direction:column;
	// background-color: $gunmetal;
	color: white;
	.header-container {
		display: flex;
		flex-direction: column;
		padding-left: 1rem;
		padding-right: 1rem;
		.title-container {
			font-family: Monaco, "sans-serif";
			max-width: 300px;
			h1 {
				.blue {
					color: $metallic;
				}
			}
			h3 {
				color: white;
			}
		}
		nav {
			display: flex;
			column-gap: 10px;
			a {
				color: white;
			}
		}
	}
	.api-status {
		padding: 1rem;
	}
}
