@import "../colors";
.dashboard-page {
	padding: 1rem;
	overflow-y: scroll;

	.crypto-data {
		background-color: $darkmain;
		border-radius: 8px;
		padding: 1rem;
		width: fit-content;
		margin-bottom: 8px;
	}
	.main-ui {
		display: flex;
		column-gap: 16px;
	}
}
