.dashboard-page {
	padding: 1rem;
	.new-task{
		display: flex;
		flex-direction: column;
		max-width: 350px;
		.button-container {
			display: flex;
			button {
				padding: 16px;
				flex-grow: 1;
			}
		}
	}
	.main-ui {
		display: flex;
		column-gap: 16px;

		.tasks {
			max-width: 350px;
			
		}
		.notes {
			flex-grow: 1;
		}
	}
}