@import "../colors";

.note {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: rgb(55, 0, 55);
	box-shadow: 0px 4px 8px 2px black;
	color: white;
	margin-top: 1rem;
	.button-container {
		display: flex;
		column-gap: 6px;
		button {
			align-items: center;
			justify-content: center;
		}
	}
}
