.task-list {
	width: 320px;
	flex-shrink: 0;
	.task-list-header {
		display: flex;
		align-items: center;
		font-size: 36px;
		font-weight: 700;
		justify-content: space-between;
		#add-task-button {
			background-color: black;
			color: white;
			height: 48px;
			width: 48px;
			text-align: center;
			font-size: 36px;
			border-radius: 50%;
			border: none;
			&:hover {
				opacity: 0.9;
			}
			&:active {
				opacity: 0.7;
			}
		}
	}
}
