@import "../colors";

.edit-task {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.edit-task {
		background-color: $darkmain;
		display: flex;
		flex-direction: column;
	}
}
